
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

        <a href="~/images/hosgeldiniz.jpg">

            <img src="~/images/hosgeldiniz.jpg" width="1400" height="740">
        </a>


    